# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
releasing-example.iml
module-one/pom.xml.releaseBackup
module-one/target/
module-two/pom.xml.releaseBackup
module-two/target/
pom.xml.releaseBackup
release.properties
